@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  height: 100vh;
}

.container {
  width: 60%;
  margin: 100px auto;
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  min-height: 400px;
}

.card:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.card:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

img {
  margin-bottom: 20px;
}

h2 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 1.5;
}

.btn {
  background-color: hsl(0, 0%, 95%);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.btn:hover {
  cursor: pointer;
}

.sedans .btn {
  color: hsl(31, 77%, 52%);
}

.suvs .btn {
  color: hsl(184, 100%, 22%);
}

.luxury .btn {
  color: hsl(179, 100%, 13%);
}

.sedans .btn:active {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}

.suvs .btn:active {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}

.luxury .btn:active {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}

@media screen and (max-width: 480px) {
  .container {
    width: 90%;
    flex-direction: column;
  }

  .card:first-child {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
  }

  .card:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
