@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf2f8;
}

.container {
  background-color: white;
  border-radius: 0.8rem;
  max-width: 48rem;
}

.article-img-wrap > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.details {
  padding: 2.3rem;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.4;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}

.article-intro {
  margin-top: 0.8rem;
  font-size: 0.9rem;
  color: hsl(214, 17%, 51%);
  line-height: 1.5;
}

.article-footer {
  margin-top: 1.5rem;
}

.article-footer > img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.author {
  font-size: 0.9rem;
  font-weight: bold;
  color: hsl(217, 19%, 35%);
  margin-bottom: 0.2rem;
}

.date {
  color: hsl(212, 23%, 69%);
  font-size: 0.9rem;
}

.share-icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.6rem;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
}

.share-icon > img {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
}

.article-img-wrap {
  flex: 40% 0 0;
}

.article-footer {
  display: flex;
  align-items: center;
}

.share-icon {
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    width: 24rem;
    min-width: 24rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .article-img-wrap > img {
    border-top-right-radius: 0.8rem;
    border-bottom-left-radius: 0;
  }
}
